/* COMMON */

body{
    font-family: Arial, sans-serif;
}

/* HEADER */

/* Common in header */
header{
    font-family: Helvetica, arial, sans-serif;
    }

/* Upper header */
.upper_header_wrapper{
    height: 40px;
    background-color: black;
}

.sony_logo_box{
    width: 100px;
}

/* Lower header */