/* COMMON */

body{
    font-family: Arial, sans-serif;
}
img{
    display: inline-block;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
.btn{
    border-radius: 30px;
    padding: .5rem 1rem;
}
.btn:focus{
    box-shadow: none;
}
h2{
    font-size: 3rem;
}
.blue_color{
    color: #0072ce;
}
.blue_border{
    border-color: #0072ce;
}
.blue_btn{
    background-color: #2d64e6;
}
.light_btn{
    background-color: #d9dadc;
    color: #2d64e6;
}
.no_background{
    background: none;
}
.no_border{
    border: none;
}
.card-body{
    padding-left: 0;
}
.common_bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.no_opacity{
    opacity: 0;
}

/* HEADER */


/* Common in header */
header{
    font-family: Helvetica, arial, sans-serif;
}

/* Upper header */
.upper_header_wrapper{
    height: 40px;
    background-color: black;
}
.sony_logo_box{
    width: 100px;
}

/* Lower header */
.lens_logo{
    width: 30px;
    height: 30px;
    margin-left: 1.2rem;
}
.navbar-nav{
    gap: .25rem;
}
.chevron_down{
    width: 15px;
    height: 15px;
}
header .navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-toggler{
    box-shadow: none;
}

@media screen and (max-width: 991px){
    .navbar-light .navbar-toggler,
    .navbar-light .navbar-brand{
        position: relative;
        top: .3rem;
    }
}

/* Hover header*/
.grey_arrow:hover{
    display: none;
}
.blue_arrow{
    display: none;
}
.grey_arrow:hover + .blue_arrow{
    display: inline-block;
}


/* MAIN */


/* Common in main */
main{
    margin-top: 116px;
}

/* Jumbotron */
.jumbo_main_wrapper{   
    height: 800px;
}
.jumbo_1{
    background-image: url(../img/jumbo-bg.png);
}
/* Piccolo fix per gli schermi più grandi (il background non regge più e si ingrandisce coprendo la testa del tizio) */
@media screen and (min-width: 2000px){
    .jumbo_main_wrapper{
        height: 900px;
    }
}
.jumbo_content{
    height: 75%;
}

/* Images */
.images_wrapper{
    margin: 35px 0 130px;
}
.mb_80{
    margin-bottom: 80px;
}
@media screen and (min-width: 992px){
    .mb_lg_100{
        margin-bottom: 100px;
    }
}
.images_wrapper .img-thumbnail{
    transform: scale(1);
}
.images_wrapper img{
    border-radius: 20px;
}
.images_wrapper img:not(.img-thumbnail){
    transform: scale(.95);
}

/* Console */
.console_main_wrapper h2{
    font-size: 2.5rem;
}
@media screen and (min-width: 768px){
    .w_md_65{
        width: 65%;
    }
    .mb_md_50{
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 992px){
    .w_lg_75{
        width: 75%;
    }
    .mb_lg_70{
        margin-bottom: 70px;
    }
}

/* Second Jumbotron */
.jumbo_2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
.jumbo_2 .jumbo_content{
    height: 90%;
}
.mt_25{
    margin-top: 25px;
}
@media screen and (min-width: 768px){
    .jumbo_2{
        margin-top: 40px;
    }
}

/* New Videogames */
.new_videogames_main_wrapper{
    background-color: #1f1f1f;
    color: white;
}
.new_videogames_main_wrapper .card-body{
    padding: .5rem 0;
}
.new_videogames_main_wrapper .card-title{
    font-size: .95rem;
}
.new_videogames_main_wrapper .card-img-top{
    border-radius: 20px;
}
.new_videogames_main_wrapper h3{
    font-size: 35px;
}
.new_videogames_main_wrapper h4{
    font-size: 25px;
}
.my_35_25{
    margin: 35px 0 25px;
}
.pb_60{
    padding-bottom: 60px;
}

/*Explore*/
.mb_100{
 margin-bottom: 100px;
}
.card_body_wrapper{
    gap: 24px;
}
@media screen and (min-width: 768px){
    .card_body_wrapper{
        gap: 5px;
    }
}
@media screen and (min-width: 992px){
    .card_body_wrapper{
        gap: 15px;
    }
}
.explore_main_wrapper h5{
    font-size: 45px;
    margin-bottom: 28px;
}
@media screen and (min-width: 576px){
    .explore_main_wrapper h5{
        font-size: 35px;
    }
}
.explore_main_wrapper p{
    font-size: 21px;
}
.mb_50{
    margin-bottom: 50px;
}
@media screen and (min-width:768px){
    .h_md_40{
        height: 40%;
    }      
    .h_md_60{
        height: 60%;
    }
}

/* PlayStation Plus */
.playplus_main_wrapper{
    background-color: #bebcbb;
}
.w_60{
    width: 60%;
}
[class^="playplus_content_box"]{
    padding: 3rem 0;
}
@media screen and (min-width: 768px){
    [class^="playplus_content_box"]{
        padding: 1rem 0;
    }
    .plus_bg{
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
        background-size: 50% 100%;
        background-repeat: no-repeat;
        background-position: right;
    } 
}
@media screen and (min-width: 992px){
    [class^="playplus_content_box"]{
        padding: 5.8rem 0;
    }   
}



/* Test */
/* main{
    height: 10000px;
    background-color: red;
} */